@import "../../components/colors/colors";
@import "__buttons/dropdown__buttons";
@import "../../scss/fonts/fonts";

.dropdown {
  position: relative;
  width: 320px;
  height: 44px;
  background: #ffffff;
  border-radius: 4px;
}

.dropdown > div {
  padding: 12px 8px 12px 12px;
}

.dropdown-middle {
  position: relative;
  width: 266px;
  height: 44px;
  background: #ffffff;
  border-radius: 4px;
}

.dropdown-middle > div {
  padding: 12px 8px 12px 12px;
}

.absolute .dropdown-list {
  position: absolute;
  top: 40px;
  background: #fff;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}

.dropdown__name {
  font-family: Montserrat;
  font-size: 14px;
  color: $darkShade75;
  border: 1px solid $darkShade50;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;
  text-indent: 2px;
}

.dropdown__name-disabled {
  border: 1px solid $darkShade25;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  &:hover {
    border: 1px solid $darkShade50;
  }
}

.dropdown__name.hover {
  border: 1px solid $darkShade50;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.dropdown-list {
  display: none;
  border: 1px solid $darkShade50;
  box-sizing: border-box;
  box-shadow: 0 10px 20px $darkShade5;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}


.dropdown.active .dropdown-list {
  display: block;
}

.dropdown-list__item {
  font-family: Montserrat-Bold;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  width: 100%;
  padding: 3px 50px 19px 2px;
}

.dropdown-list__item-second {
  font-family: Montserrat-Bold;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  width: 100%;
  padding: 3px 123px 19px 2px;
}

.controls {
  display: flex;
  text-align: right;
  float: right;
  padding: 0;
  margin: 0;
}
.controls div{
  padding: 0px 10px 12px 14px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
}
.disabled {
  color: red;
}
/*Фикс первого дропдауна если оба открыты надеюсь больше 2 не будет))) */
.dropdown.absolute:nth-child(1) .dropdown-list  {
  z-index: 2;
}

.value {
  margin-right: 1px;
}

.valueSecond {
  margin-right: 1px;
}

.plus {
  font-family: Montserrat;
  font-size: 18px;
  margin-top: -5px;
  margin-right: 0px;
  width: 30px;
  height: 30px;
  border: 1px solid $darkShade25;
  border-radius: 22px;
  color: $darkShade50;
  background-color: #FFFFFF;
  outline: none;
}

.minus {
  font-family: Montserrat;
  font-size: 18px;
  margin-top: -6px;
  width: 30px;
  height: 30px;
  border: 1px solid $darkShade25;
  border-radius: 22px;
  color: $darkShade50;
  background-color: #FFFFFF;
  outline: none;
}

.dropdown__button-clear-hidden {
  visibility: hidden;
  position: absolute;
}

.dropdown__button-clear-hidden-zero {
  visibility: hidden;
  position: absolute;
}

.dropdown-icon-style {
  position: absolute;
  margin-top: -34px;
  margin-left: 286px;
  cursor: pointer;
  color: $darkShade50;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently not supported by any browser */

  &:hover {
    color: $darkShade75;
  }
}

.dropdown-icon-style.hover {
  color: $darkShade75;
}

.dropdown-icon-style.middle {
  margin-top: -34px;
  margin-left: 232px;
}