.radio-element + label{
  cursor: pointer;
}
.radio-element:not(checked){
  position: absolute;
  opacity: 0;
}
.radio-element:not(checked) + label{
  position: relative;
  padding: 3px 0 0 30px;
}
.radio-element:not(checked) + label:before{
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 50px;
  background: #FFFFFF;
  border: 1px solid $darkShade25;
}

.radio-element:not(checked) + label:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
}

.radio-element:checked + label:before{
  position: absolute;
  border: 1px solid #BC9CFF;
}

.radio-element:checked + label:after{
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  top: 7px;
  left: 4px;
}

.radio-buttons-row {
  display: flex;
  font-family: Montserrat;
  font-size: 14px;
  color: $darkShade50;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  & div {
    margin-right: 20px;
  }
}