mixin datepickerFilterSolo(titleOne = 'FILTER DATE DROPDOWN')
    h3.datepicker__filter-title= titleOne
    input#solo_datepicker.text-field__default.placeholder-uppercase(type="text" placeholder="ДД.ММ.ГГГГ")
    button#solo_datepicker_button.filter__datepicker__button
        i.material-icons.datepicker__filter__button-icon expand_more