html
    div.dropdown.absolute(wordforms="Гость Гостя Гостей" default="Сколько гостей?")
        div.dropdown__name Сколько гостей?
        div.dropdown-list
            div.dropdown-list__item(name="adult") Взрослые
            div.dropdown-list__item(name="child") Дети
            div.dropdown-list__item(name="babes") Младенцы