@import "../../../components/colors/colors";
@import "./_mini/text-field__hover_mini";
@import "../__button/text-field__button";

.text-field__hover {
  width: 320px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid $darkShade50;
  box-sizing: border-box;
  border-radius: 4px;
  text-indent: 11px;

  &:hover {
    border: 1px solid $darkShade50;
  }

  &:focus {
    outline: none;
  }
}

.text-field__hover::-webkit-input-placeholder {
  font-family: Montserrat;
  color:$darkShade75;
  font-size: 14px;
  line-height: 18px;
  text-overflow: ellipsis;
}

.text-field__hover::-moz-placeholder {
  font-family: Montserrat;
  color:$darkShade75;
  font-size: 14px;
  line-height: 18px;
  text-overflow: ellipsis;
}

.text-field__hover:-moz-placeholder {
  font-family: Montserrat;
  color:$darkShade75;
  font-size: 14px;
  line-height: 18px;
  text-overflow: ellipsis;
}

.text-field__hover:-ms-input-placeholder {
  font-family: Montserrat;
  color:$darkShade75;
  font-size: 14px;
  line-height: 18px;
  text-overflow: ellipsis;
}

.placeholder-uppercase::-webkit-input-placeholder {
  text-transform: uppercase !important;
}

.placeholder-uppercase::-moz-placeholder {
  text-transform: uppercase !important;
}

.placeholder-uppercase:-moz-placeholder {
  text-transform: uppercase !important;
}

.placeholder-uppercase:-ms-input-placeholder {
  text-transform: uppercase !important;
}