.filter__datepicker__button {
  width: 44px;
  height: 44px;
  border: none;
  background: none;
  outline: none;
  position: relative;
  bottom: 44px;
  left: 275px;
}

.datepicker__filter__button-icon {
  color: $darkShade50;

  &:hover {
    color: $darkShade75;
  }
}

.datepicker__filter__button-icon.hover {
  color: $darkShade75;
}

.datepicker__filter__button-icon-start {
  position: absolute;
  cursor: pointer;
  margin-top: 10px;
  margin-left: -34px;
  color: $darkShade50;
  margin-right: 0;

  &:hover {
    color: $darkShade75;
  }
}

.datepicker__filter__button-icon-start.hover {
  color: $darkShade75;
}

.datepicker__filter__button-icon-end {
  position: absolute;
  cursor: pointer;
  margin-top: 10px;
  margin-left: -34px;
  color: $darkShade50;

  &:hover {
    color: $darkShade75;
  }
}

.datepicker__filter__button-icon-end.hover {
  color: $darkShade75;
}

.filter__datepicker__button-middle {
  width: 44px;
  height: 44px;
  border: none;
  background: none;
  outline: none;
  position: relative;
  right: 48px;
  top: 8px;
}
