.start__datepicker__button {
  width: 44px;
  height: 44px;
  border: none;
  background: none;
  outline: none;
  position: relative;
  bottom: 44px;
  left: 105px;
}

.end__datepicker__button {
  width: 44px;
  height: 44px;
  border: none;
  background: none;
  outline: none;
  position: relative;
  bottom: 44px;
  left: 106px;
}