@import "datepicker-config";

/* -------------------------------------------------
    Navigation
   ------------------------------------------------- */

.datepicker--nav {
  font-family: OpenSans-Bold;
  font-size: 19px;
  display: flex;
  justify-content: space-between;
  min-height: $datepickerNavigationHeight;
  padding-top: 15px;
  font-weight: bold;
  color: #1f2041;

  .-only-timepicker- & {
    display: none;
  }
}

.datepicker--nav-title,
.datepicker--nav-action {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.datepicker--nav-action {
  width: $datepickerDayCellSize;
  border-radius: $datepickerBorderRadius;
  user-select: none;
  padding-left: 14px;
  padding-right: 13px;

  &:hover {
    background: map_get($datepickerBG, hover);
  }

  &.-disabled- {
    visibility: hidden;
  }

  svg {
    width: 18.93px;
    height: 18px;
  }

  path {
    stroke-width: 1px;
  }
}

.datepicker--nav-title {
  border-radius: $datepickerBorderRadius;
  padding: 0 8px;

  i {
    font-style: normal;
    color: #1f2041;
    margin-left: 5px;
  }

  &:hover {
    background: map_get($datepickerBG, hover);
  }

  &.-disabled- {
    cursor: default;
    background: none;
  }
}

//  Buttons
// -------------------------------------------------

.datepicker--buttons {
  display: flex;
  padding: $datepickerPadding;
}

.datepicker--button {
  font-family: Montserrat-Bold;
  font-size: 12px;
  width: 84px;
  color: $darkShade50;
  cursor: pointer;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  padding: 14px 0 20px 17px;
  text-transform: uppercase;

  &:hover {
    color: $darkShade75;
  }
}

.datepicker--button-apply {
  font-family: Montserrat-Bold;
  text-transform: uppercase;
  font-size: 12px;
  width: 84px;
  color: $purple;
  cursor: pointer;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  background: none;
  outline: none;
  border: none;
  flex: 1;
  padding: 14px 17px 20px 0;

  &:hover {
    color: darken($purple, 15%);
  }
}