.buttons__border-gradient {
  font-family: Montserrat-Bold;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  width: 99px;
  height: 44px;
  margin: auto;
  position: relative;
  padding-left: 17px;
  padding-top: 2px;
  box-sizing: border-box;
  outline: none;
  color: $purple;
  background: #FFFFFF;
  background-clip: padding-box;
  border: solid 2px transparent;
  border-radius: 22px;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  }
}

.buttons__border-gradient.disable {
  font-family: Montserrat-Bold;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  width: 99px;
  height: 44px;
  margin: auto;
  position: relative;
  padding-left: 17px;
  padding-top: 2px;
  box-sizing: border-box;
  outline: none;
  color: $purple;
  background: #FFFFFF;
  background-clip: padding-box;
  border: solid 2px transparent;
  border-radius: 22px;
  cursor: default;

  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    opacity: 0.5;
  }
}