.comment-wrapper {
  display: grid;
  grid-template-columns: 66px 800px;
  grid-gap: 12px;
  height: 60px;
}

.comment-wrapper h3 {
  font-family: Montserrat-Bold;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 0;
}

.comment-wrapper p {
  margin-top: 5px;
}

.page-position {
  margin-left: 24px;
  margin-top: 10px;
}

.comment-bottom-text {
  padding-top: 3px;
}

@media (max-width: 1290px) {
  .comment-wrapper {
    grid-template-columns: 66px 300px;
  }
}