mixin comment
    div.comment-wrapper
        img(src=require('../../images/all/comment.png').default)
        div
            h3 Мурад Сарафанов
            p 5 дней назад
    div.comment-wrapper
        button.like__button-second.liked.page-position
            i.material-icons favorite
            span 12
        p.comment-bottom-text
            | Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий.
            br
            | И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто
            br
            | не жаловался из соседей.