mixin datepickerFilter
    input#filter_datepicker.text-field__hover_middle.placeholder-uppercase(type="text" placeholder="ДД.ММ.ГГГГ" data-range="true" data-multiple-dates-separator=" - ")
    button#filter_datepicker_button.filter__datepicker__button-middle
        i.material-icons.datepicker__filter__button-icon expand_more