doctype html
html(lang=ru)
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title="Ui kit"
    body
        div.wrapper
            div
                section
                    div.block.darkShade100
                    h2.block-text Dark Shade 100%
                        p.block-text-second #1F2041
                    div.block.darkShade75
                    h2.block-text Dark Shade 75%
                        p.block-text-second #1F2041
                    div.block.darkShade50
                    h2.block-text Dark Shade 50%
                        p.block-text-second #1F2041
                    div.block.darkShade25
                    h2.block-text Dark Shade 25%
                        p.block-text-second #1F2041
                    div.block.darkShade05
                    h2.block-text Dark Shade 5%
                        p.block-text-second #1F2041
                    div.block.purple
                    h2.block-text Purple
                        p.block-text-second #BC9CFF
                    div.block.green
                    h2.block-text Green
                        p.block-text-second #6FCF97
            div
                section
                    div.wrapper-second
                        div
                            p.text-example-gray.example-h1 H1
                            p.text-example-gray.example-h2 H2
                            p.text-example-gray.example-h3 H3
                            p.text-example-gray.example-body Body
                        div
                            h1.text-example-main.text-example-main-h1| This one is the sub-section or
                                br
                                | widget title
                            h2.text-example-main.text-example-main-h2| Next one is the item title inside
                                br
                                | widgets
                            h3.text-example-main.text-example-main-h3 THIS IS A LABEL OR CTA TEXT
                            p.text-example-main.text-example-main-body| This is the body text which is used for most
                                br
                                | of the design, like paragraphs, lists, etc.