@import "../../../components/colors/colors";
@import "../__button/text-field__button";

.text-field__default {
  width: 320px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid $darkShade25;
  box-sizing: border-box;
  border-radius: 4px;
  text-indent: 12px;

  &:hover {
    border: 1px solid $darkShade50;
  }

  &:focus {
    outline: none;
  }
}

.text-field__default::-webkit-input-placeholder {
  font-family: Montserrat;
  color:$darkShade25;
  font-size: 14px;
  line-height: 18px;
  text-overflow: ellipsis;
}

.text-field__default::-moz-placeholder {
  font-family: Montserrat;
  color:$darkShade25;
  font-size: 14px;
  line-height: 18px;
  text-overflow: ellipsis;
}

.text-field__default:-moz-placeholder {
  font-family: Montserrat;
  color:$darkShade25;
  font-size: 14px;
  line-height: 18px;
  text-overflow: ellipsis;
}

.text-field__default:-ms-input-placeholder {
  font-family: Montserrat;
  color:$darkShade25;
  font-size: 14px;
  line-height: 18px;
  text-overflow: ellipsis;
}

.text-field__default-middle {
  width: 266px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid $darkShade25;
  box-sizing: border-box;
  border-radius: 4px;
  text-indent: 15px;

  &:hover {
    border: 1px solid $darkShade50;
  }

  &:focus {
    outline: none;
  }
}