@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/OpenSans-Regular/OpenSans-Regular.ttf");
  src: url("../../fonts/OpenSans-Regular/OpenSans-Regular.ttf") format("ttf"), url("../../fonts/OpenSans-Regular/OpenSans-Regular.woff") format("woff"), url("../../fonts/OpenSans-Regular/OpenSans-Regular.svg") format("svg");
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Regular/Montserrat-Regular.ttf") format("ttf");
  src: url("../../fonts/Montserrat-Regular/Montserrat-Regular.ttf") format("ttf"), url("../../fonts/Montserrat-Regular/Montserrat-Regular.woff") format("woff"), url("../../fonts/Montserrat-Regular/Montserrat-Regular.svg") format("svg");
  font-style: normal;
}

h1 {
  font-family: "OpenSans";
  font-size: 24px;
  line-height: 30px;
}

h2 {
  font-family: "OpenSans";
  font-size: 19px;
  line-height: 24px;
}

h3 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
}

p {
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}