.room {
  width: 270px;
  height: 257px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
}

.room-gallery {
  width: 270px;
  overflow: hidden;
}

.room-gallery ul {
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.room-gallery li {
  display: inline-block;
}

.room-gallery-icon-position {
  position: absolute;
  margin-left: 215px;
  margin-top: -23px;
}

.room-gallery-icon {
  width: 5px; /* поддерживаются любые единицы, в том числе проценты */
  height: 5px;
  border: 1px solid #FFFFFF;
  background: transparent;
  border-radius: 50%;
  margin-right: 4px;
}

.room-gallery-icon::before {
  content: "";
  display: inline-block;
}

.room-gallery-icon.active {
  width: 5px; /* поддерживаются любые единицы, в том числе проценты */
  height: 5px;
  background: #FFFFFF;
  border-radius: 50%;
}

.room-gallery-icon.active::before {
  content: "";
  display: inline-block;
}

.room-gallery-icon.hover {
  width: 6px; /* поддерживаются любые единицы, в том числе проценты */
  height: 6px;
  background: #FFFFFF;
  border-radius: 50%;
}

.room-gallery-icon.hover::before {
  content: "";
  display: inline-block;
}

.room-price {
  display: grid;
  grid-template-columns: 29% 27% 20% 50%;
}

.room-number {
  font-family: OpenSans-Bold;
  font-size: 16px;
  color: $darkShade100;
  margin-left: 20px;
  margin-top: 19px;
}

.room-quality {
  color: $purple;
  margin-top: 27px;
}

.room-value {
  margin-top: 20px;
  font-size: 12px;
}

.room-value.bold {
  font-family: Montserrat-Bold;
  font-size: 14px;
  color: $darkShade50;
}

.room-rate {
  display: grid;
  grid-template-columns: 56% 11% 20%;
  margin-left: 20px;
  margin-top: 3px;
}

.room-rate-reviews {
  margin-top: 0px;
}

.room-rate-reviews.bold {
  font-family: Montserrat-Bold;
  color: $darkShade50;
}

.room-rate-reviews.margin {
  margin-left: 6px;
}