mixin buttonRate4
    div.rating-area
        i.material-icons(value="1") star
        i.material-icons(value="2") star
        i.material-icons(value="3") star
        i.material-icons.active(value="4") star
        i.material-icons(value="5") star_border

mixin buttonRate5
    div.rating-area
        i.material-icons(value="1") star
        i.material-icons(value="2") star
        i.material-icons(value="3") star
        i.material-icons(value="4") star
        i.material-icons.active(value="5") star