@import "../../components/colors/colors";
@import "../../components/block/block";
@import "../../components/block/_margin/block_margin_first";
@import "../../components/block/_margin/block_margin_second";

.darkShade100 {
  background: $darkShade100;
}

.darkShade75 {
  background: $darkShade75;
}

.darkShade50 {
  background: $darkShade50;
}

.darkShade25 {
  background: $darkShade25;
}

.darkShade05 {
  background: $darkShade5;
}

.purple {
  background: $purple;
}

.green {
  background: $green;
}

.block-text-main-first {
  margin-top: 154px;
  margin-left: 88px;
}

.block-text-main-second {
  margin-top: 34px;
  margin-left: 88px;
}

.block-text-second {
  margin-top: 3px;
  font-size: 18px;
  line-height: 29px;
}

.text-example-gray {
  text-align: right;
  color: $darkShade25;
}

.example-h1 {
  margin-top: 145px;
  font-size: 24px;
  line-height: 29px;
  margin-left: 79px;
}

.example-h2 {
  margin-top: 82px;
  font-size: 19px;
  line-height: 23px;
  margin-left: 82px;
}

.example-h3 {
  margin-top: 76px;
  font-size: 12px;
  line-height: 15px;
  margin-left: 92px;
}

.example-body {
  margin-top: 47px;
  font-size: 14px;
  line-height: 24px;
  margin-left: 72px;
}

.text-example-main-h1 {
  margin-top: 146px;
  margin-left: 45px;
}

.text-example-main-h2 {
  margin-top: 50px;
  margin-left: 45px;
}

.text-example-main-h3 {
  margin-top: 50px;
  margin-left: 45px;
}

.text-example-main-body {
  margin-top: 50px;
  margin-left: 45px;
}

.wrapper {
  display: grid;
  grid-template-columns: 5% 50% 45%;
}

.wrapper-text-first {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-gap: 30px;
}

.wrapper-text-second {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-gap: 30px;
}

.logo-margin {
  margin-top: 30px;
  margin-left: 30px;
}

@media (max-width: 1024px) {
  .wrapper {
    display: grid;
    grid-template-columns: 100%;
  }
  .mobile-sections {
    align-items: center;
  }
}