doctype html
html(lang=ru)
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title="Colors&type"
    body
        div.wrapper
            div
                img.logo-margin(src=require('../../images/all/LogoGray.svg').default alt="Логотип" width="48px")
            div
                section.wrapper-text-first
                    div
                        div.block.block_margin_first.darkShade100

                        div.block.block_margin_second.darkShade75

                        div.block.block_margin_second.darkShade50

                        div.block.block_margin_second.darkShade25

                        div.block.block_margin_second.darkShade05

                        div.block.block_margin_second.purple

                        div.block.block_margin_second.green

                    div
                        h2.block-text-main-first Dark Shade 100%
                            p.block-text-second #1F2041
                        h2.block-text-main-second Dark Shade 75%
                            p.block-text-second #1F2041
                        h2.block-text-main-second Dark Shade 50%
                            p.block-text-second #1F2041
                        h2.block-text-main-second Dark Shade 25%
                            p.block-text-second #1F2041
                        h2.block-text-main-second Dark Shade 5%
                            p.block-text-second #1F2041
                        h2.block-text-main-second Purple
                            p.block-text-second #BC9CFF
                        h2.block-text-main-second Green
                            p.block-text-second #6FCF97
            div
                section
                    div.wrapper-text-second
                        div
                            p.text-example-gray.example-h1 H1
                            p.text-example-gray.example-h2 H2
                            p.text-example-gray.example-h3 H3
                            p.text-example-gray.example-body Body
                        div
                            h1.text-example-main.text-example-main-h1| This one is the sub-section or
                                br
                                | widget title
                            h2.text-example-main.text-example-main-h2| Next one is the item title inside
                                br
                                | widgets
                            h3.text-example-main.text-example-main-h3 THIS IS A LABEL OR CTA TEXT
                            p.text-example-main.text-example-main-body| This is the body text which is used for most
                                br
                                | of the design, like paragraphs, lists, etc.