doctype html
html(lang=ru)
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title="Form Elements"
    body.form-elements
        div
            img.form_logo-gray(src=require('../../images/all/LogoGray.svg').default alt="Логотип")
        div

        div.form_grid
            //text fields
            section.margin_text-field
                div
                    include ../../components/text-field/__default/text-field__default
                    div.comment-grid
                        h3 TEXT FIELD
                        p.style_text-field DEFAULT
                    +textFieldDefault
                div.row-2
                    div.comment-grid
                        h3 TEXT FIELD
                        p.row-2_style_text-field HOVER / FOCUS
                    include ../../components/text-field/__hover/text-field__hover
                    +textFieldHover
                div.row-3
                    div.comment-grid
                        h3 DROPDOWN
                        p.row-3_style_dropdown DEFAULT
                    include ../../components/dropdown/dropdown
                    +dropdown
                div.row-4
                    +textFieldMasked
                div.row-5
                    include ../../components/datepicker/__double-input/datepicker__double-input
                    +datepickerDoubleInput
                div.row-6
                    h3 FILTER DATE DROPDOWN
                    include ../../components/datepicker/__filter/datepicker__filter
                    +datepickerFilter
                div.row-7
                    h3 SUBSCRIPTION TEXT FIELD
                    +textFieldSubscribtion
                div.row-8
                    div.comment-grid
                        h3 DROPDOWN
                        p.row-3_style_dropdown.middle DEFAULT
                    +dropdownMiddle
                div.row-9
                    div.comment-grid
                        h3 DROPDOWN
                        p.row-3_style_dropdown.expanded EXPANDED
                    +dropdownMiddleActive
                div.row-10
                    include ../../components/checkbox/checkbox
                    +checkboxList
                div.row-11
                    +checkboxListActive
                div.row-12
                    div.flex-group
                        div
                            i.material-icons.emotion-icon-style insert_emoticon
                        div
                            h3.comfort-head-style Комфорт
                            p.comfort-text-style Шумопоглощающие стены
                    div.flex-group-second
                        div
                            i.material-icons.emotion-icon-style location_city
                        div
                            h3.comfort-head-style Удобство
                            p.comfort-text-style Окно в каждой из спален
            section.margin_text-field-2
                div
                    h3 CHECKBOX BUTTONS
                    div.checkbox-column
                        +checkboxButtons
                div.row-2-2
                    h3 RADIO BUTTONS
                    div.radio-buttons-row
                        include ../../components/radio/radio
                        +radioButtonActive('Мужчина')
                        +radioButton('Женщина')
                div.row-3-2
                    h3 TOGGLE
                    div.checkbox-toggle-row
                        +checkboxToggleChecked
                        +checkboxToggle
                div.row-4-2
                    h3 LIKE BUTTON
                    div.like__button-column
                        include ../../components/buttons/__like/buttons__like
                        +buttonLike('2')
                        +buttonLikeActive('12')
                div.row-5-2
                    h3 RATE BUTTON
                    div.rating-area-grid
                        include ../../components/buttons/__rate/buttons__rate
                        +buttonRate4
                        +buttonRate5
                div.row-6-2
                    div.comment-grid
                        h3 DROPDOWN
                    +dropdownActive
                div.row-7-2
                    h3 RICH CHECKBOX BUTTONS
                    +checkboxRich
                div.row-8-2
                    include ../../components/comment/comment
                    +comment
            section.margin_text-field-3
                include ../../components/range-slider/range-slider
                +rangeSlider
                div.row-2-3
                    h3 BUTTONS
                    include ../../components/buttons/buttons
                    +buttonsFormElements
                div.row-3-3
                    h3 PAGINATION
                    include ../../components/pagination/pagination
                    +pagination
                div.row-4-3
                    h3 DROPDOWN
                    // Исправить dropdown.js (убрать "очистить", когда счетчики на нулях, и, для этой версии, добавить значения счетчикам)
                    +dropdownActive
                div.row-5-3
                    h3 BULLET LIST
                    include ../../components/bullet-list/bullet-list
                p.huy